body{
  padding: 0px;
  margin: 5px;
  background-color: lightblue;
}

canvas{
  background-color: black;
}

div.display{
  background-color: white;
  float: right;
  width: 29%;
  height: 100%;
}

table{
  width: 100%;
}

button{
  width: 100%;
  border-radius: 10px;
}

div.textbox{
  height: 90%;
  width: 100%;
}

div.text{
  padding: 5px;
}

div.gems{
  height: 5%;
  background-color: rgba(50,50,50,1);
  font-size: 18pt;
  text-align: center;
  color: gold;
}

div.energy{
  height: 5%;
  background-color: gray;
}

div.amount{
  height: 100%;
  background-color: green;
  width: 8%;
  color: white;
  font-size: 18pt;
  overflow-x: visible;
}
